.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.messages {
    text-align: center;
    font-size: 35px;
}

#end {
    font-size: 35px;
}

